H:\softs\xampp\htdocs\myRafiki\wp-content\wpvividbackups

# Ignore everything in wp-content
wp-content/*

# Exclude the themes folder from being ignored
!wp-content/themes/

# Ensure everything inside the themes folder is tracked
!wp-content/themes/*
